# data directory
data/

# data backup directory - used during worflow development
data_backup/

#results directory
#results/

#ignore ipynb checkpoints
**/.ipynb_checkpoints/

#ignore pycache
**/__pycache__/
