# Ignore large generated data directories
data/*
!data/statistics/
!data/clinvar/

# Python cache & virtual environments
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
build/
dist/

# Jupyter
.ipynb_checkpoints/

# macOS / OS metadata
.DS_Store
Thumbs.db
