# Ignore large generated data directories
data_backup/AlphaMissense_values-per_protein_helix.xlsx

# Python cache & virtual environments
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
build/
dist/

# Jupyter
.ipynb_checkpoints/

# macOS / OS metadata
.DS_Store
Thumbs.db

#ignore IDE files
.vscode
